@import '../../styles/settings.scss';

.stopWatch {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #2f3542;
  gap: 24px;
}

.controls {
  display: flex;
  gap: 16px;

  > * {
    width: 100px;
    margin: 0; 
  }
}